.App {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}


@media (max-width: 768px) {
  .containor {
    width: 80%;
    margin: auto;
  }}